{% extends '@app/dashboard-layout.html.twig' %}

{% set page_title = 'admin'|trans %}
{% set active_item = 'admin' %}
{% set active_sub_item = 'fields' %}

{% set flash_values = flash('value') %}

{% block content %}
    <h2 class="title">{{ flash_values.page_title|trans }}</h2>
    <form class="needs-validation"
          action="{{ url_for('autho.field.' ~ relations ~ '.delete', {'id': id}) }}"
          method="post" novalidate>

        {{ flash('warning')|raw }}

        {{ csrf()|raw }}

        <div class="text-right">
            <a class="btn btn-secondary" href="{{ url_for('autho.fields.show') }}" role="button">{{ 'cancel'|trans }}</a>
            <button type="submit" class="btn btn-primary">{{ 'confirm'|trans }}</button>
        </div>

    </form>
{% endblock %}