{% extends '@module/layout.html.twig' %}

{% set page_title = 'authorization'|trans %}
{% set active_item = 'authorization' %}

{% block content %}
    <main role="main" class="inner cover">
        <h1 class="cover-heading">Cover your Authorization page.</h1>
        <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
    </main>
{% endblock %}