{% extends '@app/dashboard-layout.html.twig' %}

{% set page_title = 'admin'|trans %}
{% set active_item = 'admin' %}
{% set active_sub_item = 'privileges' %}

{% block content %}
    <h2 class="title">{{ 'form_privilege_edit_title'|trans }}</h2>
    <form class="needs-validation" action="{{ url_for('autho.privilege.edit', {'id': privilege.id}) }}" method="post" novalidate>

        {{ flash('error')|raw }}

        <div class="form-group">
            <label for="ref">{{ 'ref'|trans }}:</label>
            <input type="text"
                   class="form-control {{ vld_style('ref') }}"
                   id="ref"
                   name="ref"
                   aria-describedby="refHelp"
                   value="{{ privilege.ref }}">
            <small id="refHelp" class="form-text text-muted">{{ 'privilege_ref_help'|trans }}.</small>
            {{ vld_feedback('ref')|raw }}
        </div>

        <div class="form-group">
            <label for="route">{{ 'route'|trans }}:</label>
            <input type="text"
                   class="form-control {{ vld_style('route') }}"
                   id="route"
                   name="route"
                   aria-describedby="routeHelp"
                   value="{{ privilege.route }}">
            <small id="routeHelp" class="form-text text-muted">{{ 'privilege_route_help'|trans }}.</small>
            {{ vld_feedback('route')|raw }}
        </div>

        <div class="form-group">
            <label for="access">{{ 'access'|trans }}:</label>
            <select class="custom-select" id="access" name="access" aria-describedby="accessHelp">
                <option value="0">{{ 'choose'|trans }}</option>
                {% for access in accesses %}
                    {% if access.id == privilege.access.id %}
                        <option value="{{ access.id }}" selected>{{ '(' ~ access.level ~ ') ' ~ access.ref }}</option>
                    {% else %}
                        <option value="{{ access.id }}">{{ '(' ~ access.level ~ ') ' ~ access.ref }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <small id="accessHelp" class="form-text text-muted">{{ 'access_help'|trans }}.</small>
            {{ vld_feedback('access')|raw }}
        </div>

        <div class="form-group">
            <label for="info">{{ 'info'|trans }}:</label>
            <textarea class="form-control {{ vld_style('info') }}"
                      style="min-height:110px;"
                      id="info"
                      name="info"
                      aria-describedby="infoHelp">{{ privilege.info }}</textarea>
            <small id="infoHelp" class="form-text text-muted">{{ 'privilege_info_help'|trans }}.</small>
            {{ vld_feedback('info')|raw }}
        </div>

        {{ csrf()|raw }}

        <div class="text-right">
            <a class="btn btn-secondary" href="{{ url_for('autho.privileges.show') }}" role="button">{{ 'cancel'|trans }}</a>
            <button type="submit" class="btn btn-primary">{{ 'update'|trans }}</button>
        </div>

    </form>
{% endblock %}