{% extends '@app/dashboard-layout.html.twig' %}

{% set page_title = 'admin'|trans %}
{% set active_item = 'admin' %}
{% set active_sub_item = 'privileges' %}

{% set flash_values = flash('value') %}

{% block content %}
    <h2 class="title">{{ flash_values.page_title|trans ~ ' (' ~ relation.ref ~ ')' }}</h2>
    <form class="needs-validation"
          action="{{ url_for('autho.' ~ flash_values.relation_name ~ '.roles.edit', {'id': relation.id}) }}"
          method="post" novalidate>

        {{ flash('error')|raw }}

        <table class="table table-striped table-dark table-sm">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">{{ 'ref'|trans }}</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% set n = 0 %}
            {% for role in roles %}
                {% set n = n + 1 %}
                {% set checked = '' %}
                {% if has_key(relation_roles, role.id) %}
                    {% set checked = 'checked' %}
                {% endif %}
                <tr data-toggle="tooltip" data-placement="top" title="{{ role.info }}">
                    <th scope="row">{{ n }}</th>
                    <td>{{ role.ref }}</td>
                    <td><input type="checkbox" name="id[{{ role.id }}]" value="{{ role.id }}" {{ checked }}></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {{ csrf()|raw }}

        <div class="text-right">
            <a class="btn btn-secondary"
               href="{{ url_for('autho.' ~ plural(flash_values.relation_name) ~ '.show') }}"
               role="button">
                {{ 'cancel'|trans }}
            </a>
            <button type="submit" class="btn btn-primary">{{ 'update'|trans }}</button>
        </div>

    </form>
{% endblock %}