{% extends '@app/dashboard-layout.html.twig' %}

{% set page_title = 'admin'|trans %}
{% set active_item = 'admin' %}
{% set active_sub_item = 'roles' %}

{% block content %}
    <h2 class="title">{{ 'form_role_edit_title'|trans }}</h2>
    <form class="needs-validation" action="{{ url_for('autho.role.edit', {'id': role.id}) }}" method="post" novalidate>

        {{ flash('error')|raw }}

        <div class="form-group">
            <label for="ref">{{ 'ref'|trans }}:</label>
            <input type="text"
                   class="form-control {{ vld_style('ref') }}"
                   id="ref"
                   name="ref"
                   aria-describedby="refHelp"
                   value="{{ role.ref }}">
            <small id="refHelp" class="form-text text-muted">{{ 'role_ref_help'|trans }}.</small>
            {{ vld_feedback('ref')|raw }}
        </div>

        <div class="form-group">
            <label for="info">{{ 'info'|trans }}:</label>
            <textarea class="form-control {{ vld_style('info') }}"
                      style="min-height:110px;"
                      id="info"
                      name="info"
                      aria-describedby="infoHelp">{{ role.info }}</textarea>
            <small id="infoHelp" class="form-text text-muted">{{ 'role_info_help'|trans }}.</small>
            {{ vld_feedback('info')|raw }}
        </div>

        {{ csrf()|raw }}

        <div class="text-right">
            <a class="btn btn-secondary" href="{{ url_for('autho.roles.show') }}" role="button">{{ 'cancel'|trans }}</a>
            <button type="submit" class="btn btn-primary">{{ 'update'|trans }}</button>
        </div>

    </form>
{% endblock %}